doctype html
html(lang='es')
  head
    meta(charset='UTF-8')
    title #{title}
    link(rel='stylesheet', href='stylesheets/normalize.css')
    link(rel='stylesheet', href='stylesheets/app.css')
    script(src='http://code.jquery.com/jquery-2.1.4.min.js')
    script(src='javascripts/app.js')
    script(src='javascripts/web.js')
  body
   header.header(data-role="role")
    div.header--Cont
     div.header--Cont--Iz
      figure.header--Cont--Figure
       h1.Title
        | LaCatedralDelPisco
     div.header--Cont--Center
      div.Center--Day
       article.article
        div.article--Icon
         i(class="fa fa-sun-o")
        div.article--Data
         span.title.jsTitleHeader
          | ALMUERZO 
         span.title.jsTitleSubHeader
          strong.jsTitleDay
          strong.jsTitleMounth

      div.Center--Time
        h1.time--Title
      div.Center--Clima
     div.headder--Cont--De
      nav.header--Cont--Nav
       ul.ul
        li.list
         a.link(href="panel", title="Panel Activar Mesas")
          i(class="fa fa-cutlery")
        li.list
         a.link(href="mesas", title="Listado de Mesas, Agregar Pedidos")
          i(class="fa fa-shopping-basket")
        li.list
         a.link(href="ventas", title="Resumen de ventas")
          i(class="fa fa-usd")
        li.list
         a.link(href="modulos", title="Modulos de activación")
          i(class="fa fa-cubes")
        li.list
         a.link(href="administracion", title="Configuración, agregar platos y mozos")
          i(class="fa fa-cog")
        li.list
         i(class="fa fa-user")
         | #{username}
  main
    section.contenido
     header.contenido--Header
      h2.title
       | Administración
     nav.contenido--Nav
      ul.ul
       li.list
        a.link(href="administracion/mozos")
         div.list--Icon
          i(class="fa fa-user-plus")
         div.list--Data
          span.title
           strong(class="titleStrong")
            |Lista de camareros 
            br
          span.title
           |para la atención de las mesas.
       li.list
        a.link(href="administracion/platos")
         div.list--Icon
          i(class="fa fa-folder-open")
         div.list--Data
          span.title
           strong(class="titleStrong")
            |Lista de platos
            br
          span.title
           |creación de platos y comida
       li.list
        a.link(href="administracion/bebidas")
         div.list--Icon
          i(class="fa fa-folder-open")
         div.list--Data
          span.title
           strong(class="titleStrong")
            |Lista de bebidas
            br
          span.title
           |creación de bebidas y postres