doctype html
html(lang='es')
  head
    meta(charset='UTF-8')
    title #{title}
    link(rel='stylesheet', href='stylesheets/normalize.css')
    link(rel='stylesheet', href='stylesheets/app.css')
    script(src='http://code.jquery.com/jquery-2.1.4.min.js')
    script(src='javascripts/app.js')
    script(src='javascripts/web.js')
  body
   main.mainHome
    section.sectionHome
      header.sectionHome--Header
       figure.sectionHome--Header--Figure
        img(src="images/logo.png", alt="Lacatedraldelpisco Sistema")
      form(action="/login", method="POST", class="formLogin")
       header.formLogin--Header
        h2.title
        | Acceso al sistema
       fieldset.formFieldset
        input(type="text", class="inputHome" name="username", placeholder="Ingrese usuario")
       fieldset.formFieldset
        input(type="password", class="inputHome" name="password", placeholder="Ingrese su contraseña")
       fieldset.formFieldset
        input(type="submit", class="inputLogin", value="Ingresar")