doctype html
html(lang='es')
  head
    meta(charset='UTF-8')
    title #{title}
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/app.css')
    script(src='http://code.jquery.com/jquery-2.1.4.min.js')
    script(src="/javascripts/mesaslist.js")
    script(src='/javascripts/web.js')
  body
   header.header(data-role="role")
    div.header--Cont
     div.header--Cont--Iz
      figure.header--Cont--Figure
       h1.Title
        | LaCatedralDelPisco
     div.header--Cont--Center
      div.Center--Day
       article.article
        div.article--Icon
         i(class="fa fa-sun-o")
        div.article--Data
         span.title.jsTitleHeader
          | ALMUERZO 
         span.title.jsTitleSubHeader
          strong.jsTitleDay
          strong.jsTitleMounth

      div.Center--Time
        h1.time--Title
      div.Center--Clima
     div.headder--Cont--De
      nav.header--Cont--Nav
       ul.ul
        li.list
         a.link(href="panel", title="Panel Activar Mesas")
          i(class="fa fa-cutlery")
        li.list
         a.link(href="mesas", title="Listado de Mesas, Agregar Pedidos")
          i(class="fa fa-shopping-basket")
        li.list
         a.link(href="ventas", title="Resumen de ventas")
          i(class="fa fa-usd")
        li.list
         a.link(href="modulos", title="Modulos de activación")
          i(class="fa fa-cubes")
        li.list
         a.link(href="administracion", title="Configuración, agregar platos y mozos")
          i(class="fa fa-cog")
        li.list
         i(class="fa fa-user")
         | #{username}
    div.headerNotify
     div.success
      h2.title
       i(class="fa fa-check-circle")
       |Se agrego un pedido correctamente a la 
       span.mesaNum
        
  div.background--Mesa
  //div.impresion--Success
   h2.title
    | Se guardo el ticket vendido
  div.background--Error
   header.header--Error
    h2.title
     | Error
   div.description--Error
    p.description
     | Ocurrio un error, deberia selecionar una mesa, gracias
  section.impresionMesaCerrada.jsTicket
   header.impresion--Header
    h2.title
     | LACATEDRALDELPISCO
    div.impresion--SubHeader
     strong.titleAvenida
      | Av Corrientes 3126
    div.impresion.SubHeader
     span.titleTel
      | Telf: 2071-6424
     span.titleInfo
      |  info@lacatedraldelpisco.com.ar
   div.imprension--Cont
    div.numTicket
     span.title
      | Ticket: 
     span.titleTicket
   div.imprension--Mesa
    span.title--Mesa.jsMesaDelete.jsMesaAdd
     | Mesa

   div.imprension--Cont
    div.imprension--Cont--Header
     div.cont--Iz
      span.title
       | Pedido
     div.cont--De
      span.title
       | Total
    div.imprension--Cont--Description
     div.cont--Iz
      span.titleProduct
       | Arroz con pollo
     div.con--De
      span.titleTotall
       | $150
    div.imprension--Cont--Description-Cont
    div.imprension--Cont--Pagos
     span.title.jsPagosText
      | 

    div.imprension--Cont--Totall
     div.totall
      div.totall--Iz
       span.title
        | Total:
      div.totall--De
       span.title
        | $48.50
    div.imprension--Cont--Descuento
     div.descuento
      div.descuento--Iz
       span.title
        | Descuento del:
      div.descuento--De
       span.title
        | $48.50
    div.imprension--Cont--Total-Descuento
     div.descuento
      div.descuento--Iz
       span.title
        | Total - Descuento:
      div.descuento--De
       span.title
      

    div.imprension--Cont--Fecha--Abierto
     span.title
      | Abierto: 
     strong.fecha-Fecha--Abierto
    div.imprension--Cont--Fecha
     span.title
      | Cerrado: 
     strong.fecha-Fecha
     strong.fecha-Hora
      
    div.imprension--Cont--Gracias
     div.decoration
      |******************************
     span.title
      | GRACIAS POR SU COMPRA LACATEDRALDELPISCO
     div.decoration
      |******************************  
   div.buttons--Cont
    div.buttons--Iz
     button.sendBtn.sendImprimir
      | Imprimir
     
    div.buttons--De
     button.sendBtn.sendGuardar
      | Guardar Pedido
   div.buttons--Cont
    div.buttons--Iz
     button.sendBtn.sendHome
      | Regresa a inicio
     
  section.impresionMesaCerrada.jsCocina
   header.impresion--Header(style="display:none;")
    h2.title
     | LACATEDRALDELPISCO
    div.impresion--SubHeader
     strong.titleAvenida
      | Av Corrientes 3126
    div.impresion.SubHeader
     span.titleTel
      | Telf: 2071-6424
     span.titleInfo
      |  info@lacatedraldelpisco.com.ar
   div.imprension--Cont
    div.numTicket
     span.title
      | Ultimas Pedidos
     span.titleTicket(style="display:none;")
   div.imprension--Mesa
    span.title--Mesa
     | Mesa
   div.imprension--Cont
    span.title--Mozo
     | Mozo: 
    span.title--Mozo.jsaddMozo

   div.imprension--Cont
    div.imprension--Cont--Header(style="display:none;")
     div.cont--Iz
      span.title
       | Pedido
     div.cont--De
      span.title
       | Total
    div.imprension--Cont--Description
     div.cont--Iz
      span.titleProduct
       
     div.con--De(style="display:none;")
      span.titleTotall
      
    div.imprension--Cont--Description-Cont
    div.imprension--Cont--Pagos(style="display:none;")
     span.title
      | 

   
    div.impresion--Cont--Gracias
      h5.title
       |Comentarios
      span.title.jsComentarios

    div.imprension--Cont--Gracias
     div.decoration
      |******************************
     span.title
      | GRACIAS POR SU COMPRA LACATEDRALDELPISCO
     div.decoration
      |******************************  
   div.buttons--Cont
    div.buttons--Iz
     button.sendBtn.sendImprimir
      | Imprimir
    div.buttons--De
     button.sendBtn.sendHome
      | Regresa a inicio

     

  






  main
    section.content
     header.contenido--Header
      h2.title
       | Mesas > Pedidos

     section.contenido--Details
      ul.ul--Details
       li.list
        | Mesa
       li.list
        | Pedido
       li.list
        | Mozo
       li.list
        | Fecha
      div.details--Cont.jsMesasAdd


    aside.aside
     form.aside--Form.jsEditPedidos
      div.asi--Form-Header.jsHide
       span.title--DataId.jsOcultar

      header.aside--Form--Header
       h2.title
        span.title--Mesa.jsMesaTT
        | Agregar / Cerrar 
       
      div.jsPreload.cssPreload
       img(src="../images/ring-alt.svg", alt="")
       header.cssPreload--Header
        h2.title
         | Mozo Creado
      div.aside--Form--Fieldset.jsHide
       span.idTitle
      //div.aside--Form--Fieldset.jsHide
       div.fieldset--Iz
        label.title
         | Personas:
       div.fieldset--De
        input(type="number", name="jsPersonas")
      div.aside--Form--Fieldset.jsHide
       div.fieldset--Iz
        label.title
         | Pedido Actual:
       div.fieldset--De
        select(name="jsPedidoActual", class="selectPlatosList")
      
      div.aside--Form--Cont.jsHide.agregar
      div.aside--Form--Cont.jsHide.deletePedido
      div.aside--Form--Fieldset.jsHide
       div.fieldset--Iz.contSum
        label.title.labelCont
         span.title--Ad.jsAddPedido
          | Agregar +
       div.jsDeleteSum
        label.title.labelCont
         span.title--Ad.jsDeleteP
          | Eliminar -
      div.aside--Form--Fieldset.jsHide
       div.fieldset--Iz
        label.title
         | Descuento
       div.fieldset--De
        input(type="number", name="descuento")
      div.aside--Form--Fieldset.jsHide
       div.fieldset--Iz
        label.title
         | Mozo:
       div.fieldset--De
        select(name="jsMozo", class="selectMozo")
      div.aside--Form--Fieldset.jsHide
       div.fieldset--Iz
        label.title
         | Pago
       div.fieldset--De
        select(name="jsPago", class="selectPagos")
         option(value="Efectivo")
          | Efectivo
         option(value="Tarjeta")
          | Tarjeta
      div.aside--Form--Fieldset.jsHide
       div.fieldset--Iz
        label.title
         | Comentarios
        textarea#comentarios(style="resize:none;outline:medium none;", name="", cols="37", rows="2")
      div.aside--Form--Fieldset.jsHide
       input(class="send editPedido", type="submit", value="Editar Pedido")
       button(class="send sendPrint", type="button")
        i(class="fa fa-floppy-o")
        |  Cerrar Mesa
      div.aside--Form--Fieldset.jsHide
       button(class="send cocinaPrint", type="button")
        i(class="fa fa-floppy-o")
        |  Enviar a cocina
     
