doctype html
html(lang='es')
  head
    meta(charset='UTF-8')
    title #{title}
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/app.css')
    script(src='http://code.jquery.com/jquery-2.1.4.min.js')
    script(src='/javascripts/app.js')
    script(src='/javascripts/web.js')
  body
   header.header(data-role="role")
    div.header--Cont
     div.header--Cont--Iz
      figure.header--Cont--Figure
       h1.Title
        | LaCatedralDelPisco
     div.header--Cont--Center
      div.Center--Day
       article.article
        div.article--Icon
         i(class="fa fa-sun-o")
        div.article--Data
         span.title.jsTitleHeader
          | ALMUERZO 
         span.title.jsTitleSubHeader
          strong.jsTitleDay
          strong.jsTitleMounth

      div.Center--Time
        h1.time--Title
      div.Center--Clima
     div.headder--Cont--De
      nav.header--Cont--Nav
       ul.ul
        li.list
         a.link(href="../panel")
          i(class="fa fa-cutlery")
        li.list
         a.link(href="../mesas")
          i(class="fa fa-shopping-basket")
        li.list
         a.link(href="../ventas")
          i(class="fa fa-usd")
        li.list
         a.link(href="../modulos")
          i(class="fa fa-cubes")
        li.list
         a.link(href="../administracion")
          i(class="fa fa-cog")
        li.list
         i(class="fa fa-user")
         | #{username}
  main
    section.content
     header.contenido--Header
      h2.title
       | Administración > Mozos

     section.contenido--Details
      ul.ul--Details
       li.list
        | Nombre
       li.list
        | E-mail
       li.list
        | Celular
       li.list
        | Activo
      div.details--Cont.jsMozosAdd


    aside.aside
     form.aside--Form.jsFormMozos
      header.aside--Form--Header
       h2.title
       | Nuevo Mozo
      div.jsPreload.cssPreload
       img(src="../images/ring-alt.svg", alt="")
       header.cssPreload--Header
        h2.title
         | Mozo Creado
      div.aside--Form--Fieldset.jsHide
       div.fieldset--Iz
        label.title
         | Nombre
       div.fieldset--De
        input(type="text", name="nombre", class="inputNombre")
      div.aside--Form--Fieldset.jsHide
       div.fieldset--Iz
        label.title
         | Email:
       div.fieldset--De
        input(type="text", name="email", class="inputEmail")
      div.aside--Form--Fieldset.jsHide
       div.fieldset--Iz
        label.title
         | Celular:
       div.fieldset--De
        input(type="text", name="celular", class="inputCel")
      div.aside--Form--Fieldset.jsHide
       input(class="send", type="submit", value="Crear Mozo")
     form.aside--Form.jsFormMozosDelete
      header.aside--Form--Header
       h2.title
       | Eliminar Mozo
      div.aside--Form--Fieldset
       div.fieldset--Iz
        label.title
         | Mozos
       div.fieldset--De.mozosDelete
        select(name="", class="mozosDelete--Select")
         option(value="seleciona")
          | Seleciona
      div.aside--Form--Fieldset
       input(class="sendDelete", type="submit", value="Eliminar Mozo")
