doctype html
html(lang='es')
  head
    meta(charset='UTF-8')
    title #{title}
    link(rel='stylesheet', href='stylesheets/normalize.css')
    link(rel='stylesheet', href='stylesheets/app.css')
    script(src='http://code.jquery.com/jquery-2.1.4.min.js')
    script(src='javascripts/jquery.cookie.js')
    script(src='javascripts/app.js')

    script(src='javascripts/web.js')
    script(src='javascripts/deleteMesas.js')
  body
   header.header(data-role="role")
    div.header--Cont
     div.header--Cont--Iz
      figure.header--Cont--Figure
       h1.Title
        | LaCatedralDelPisco
     div.header--Cont--Center
      div.Center--Day
       article.article
        div.article--Icon
         i(class="fa fa-sun-o")
        div.article--Data
         span.title.jsTitleHeader
          | ALMUERZO 
         span.title.jsTitleSubHeader
          strong.jsTitleDay
          strong.jsTitleMounth

      div.Center--Time
        h1.time--Title
      div.Center--Clima
     div.headder--Cont--De
      nav.header--Cont--Nav
       ul.ul
        li.list
         a.link(href="panel", title="Panel Activar Mesas")
          i(class="fa fa-cutlery")
        li.list
         a.link(href="mesas", title="Listado de Mesas, Agregar Pedidos")
          i(class="fa fa-shopping-basket")
        li.list
         a.link(href="ventas", title="Resumen de ventas")
          i(class="fa fa-usd")
        li.list
         a.link(href="modulos", title="Modulos de activación")
          i(class="fa fa-cubes")
        li.list
         a.link(href="administracion", title="Configuración, agregar platos y mozos")
          i(class="fa fa-cog")
        li.list
         i(class="fa fa-user")
         | #{username}
  main
   section.content
    div.content-Mesa--Iz
      figure.content--Bano
       h2.title
        | Baño
      figure.content--Mesa
       img(src="images/mesa.png", alt="Mesa 1")
       div.content--Mesa--Number
        span.titleIdMesa.cssNone
         | i1
        span.titleMesa
         | Mesa 1
      figure.content--Mesa
       img(src="images/mesa.png")
       div.content--Mesa--Number
        span.titleIdMesa.cssNone
         | i2
        span.titleMesa
         | Mesa 2
      figure.content--Mesa
       img(src="images/mesa.png")
       div.content--Mesa--Number
        span.titleIdMesa.cssNone
         | i3
        span.titleMesa
         | Mesa 3
      figure.content--Mesa
       img(src="images/mesa.png")
       div.content--Mesa--Number
        span.titleIdMesa.cssNone
         | i4
        span.titleMesa
         | Mesa 4
      figure.content--Mesa
       img(src="images/mesa.png")
       div.content--Mesa--Number
        span.titleIdMesa.cssNone
         | i5
        span.titleMesa
         | Mesa C5

    div.content-Mesa--Center
      figure.content--Mesa.mesaRectangular
       img(src="images/mesa.png")
       div.content--Mesa--Number
        span.titleIdMesa.cssNone
         | i6
        span.titleMesa
         | Mesa 6
      div.content--Mesas-Dos
        figure.content--Mesa
         img(src="images/mesa.png")
         div.content--Mesa--Number
          span.titleIdMesa.cssNone
           | i7
          span.titleMesa
           | Mesa 7
        figure.content--Mesa
         img(src="images/mesa.png")
         div.content--Mesa--Number
          span.titleIdMesa.cssNone
           | i8
          span.titleMesa
           | Mesa 8
      div.content--Mesas-Dos 
        figure.content--Mesa
         img(src="images/mesa.png")
         div.content--Mesa--Number
          span.titleIdMesa.cssNone
           | i9
          span.titleMesa
           | Mesa 9
        figure.content--Mesa
         img(src="images/mesa.png")
         div.content--Mesa--Number
          span.titleIdMesa.cssNone
           | b1
          span.titleMesa
           | Mesa 10
      div.content--Mesas-Dos
        figure.content--Mesa
         img(src="images/mesa.png")
         div.content--Mesa--Number
          span.titleIdMesa.cssNone
           | b2
          span.titleMesa
           | Mesa 11
        figure.content--Mesa
         img(src="images/mesa.png")
         div.content--Mesa--Number
          span.titleIdMesa.cssNone
           | b3
          span.titleMesa
           | Mesa 12
      figure.content--Mesa.mesaRectangular
       img(src="images/mesa.png")
       div.content--Mesa--Number
        span.titleIdMesa.cssNone
         | b4
        span.titleMesa
         | Mesa 13
      div.content--Mesas-Dos
        figure.content--Mesa
         img(src="images/mesa.png")
         div.content--Mesa--Number
          span.titleIdMesa.cssNone
           | b5
          span.titleMesa
           | Mesa 14
        figure.content--Mesa
         img(src="images/mesa.png")
         div.content--Mesa--Number
          span.titleIdMesa.cssNone
           | b6
          span.titleMesa
           | Mesa 15
      figure.content--Mesa.mesaRectangular
       img(src="images/mesa.png")
       div.content--Mesa--Number
        span.titleIdMesa.cssNone
         | b7
        span.titleMesa
         | Mesa 16
      figure.content--Mesa.mesaRectangular
       img(src="images/mesa.png")
       div.content--Mesa--Number
        span.titleIdMesa.cssNone
         | b8
        span.titleMesa
         | Mesa 17
      div.content--Mesas-Dos
        figure.content--Mesa
         img(src="images/mesa.png")
         div.content--Mesa--Number
          span.titleIdMesa.cssNone
           | b9
          span.titleMesa
           | Mesa 18
        figure.content--Mesa
         img(src="images/mesa.png")
         div.content--Mesa--Number
          span.titleIdMesa.cssNone
           | c1
          span.titleMesa
           | Mesa 19
      div.content--Mesas-Dos
        div.content--Mesas--One
          figure.content--Mesa
           img(src="images/mesa.png")
           div.content--Mesa--Number
            span.titleIdMesa.cssNone
             | c2
            span.titleMesa
             | Mesa 20
          figure.content--Mesa
           img(src="images/mesa.png")
           div.content--Mesa--Number
            span.titleIdMesa.cssNone
             | c3
            span.titleMesa
             | Mesa 21

        div.content--Mesas-Large
         figure.content--Mesa.mesaLarge
          img(src="images/mesa.png")
          div.content--Mesa--Number
           span.titleIdMesa.cssNone
             | c4
           span.titleMesa
            | Mesa 22
      div.content--Mesas-Dos
        figure.content--Mesa
         img(src="images/mesa.png")
         div.content--Mesa--Number
          span.titleIdMesa.cssNone
            | c5
          span.titleMesa
           | Mesa 23
        figure.content--Mesa
         img(src="images/mesa.png")
         div.content--Mesa--Number
          span.titleIdMesa.cssNone
            | c6
          span.titleMesa
           | Mesa 24
      div.content--Mesas-Dos
        figure.content--Mesa
         img(src="images/mesa.png")
         div.content--Mesa--Number
          span.titleIdMesa.cssNone
            | c7
          span.titleMesa
           | Mesa 25
        figure.content--Mesa
         img(src="images/mesa.png")
         div.content--Mesa--Number
          span.titleIdMesa.cssNone
            | c8
          span.titleMesa
           | Mesa 26
      div.content--Mesas-Dos
        figure.content--Mesa
         img(src="images/mesa.png")
         div.content--Mesa--Number
          span.titleIdMesa.cssNone
           | c9
          span.titleMesa
           | Mesa 27
        figure.content--Mesa
         img(src="images/mesa.png")
         div.content--Mesa--Number
          span.titleIdMesa.cssNone
           | h1
          span.titleMesa
           | Mesa 28
      div.content--Mesas-Dos
        figure.content--Mesa
         img(src="images/mesa.png")
         div.content--Mesa--Number
          span.titleIdMesa.cssNone
           | h2
          span.titleMesa
           | Mesa 29
        figure.content--Mesa
         img(src="images/mesa.png")
         div.content--Mesa--Number
          span.titleIdMesa.cssNone
           | h3
          span.titleMesa
           | Mesa 30

    div.content-Mesa--De
      figure.content--Mesa
       img(src="images/mesa.png")
       div.content--Mesa--Number
        span.titleIdMesa.cssNone
           | h4
        span.titleMesa
         | Mesa 31
      figure.content--Mesa
       img(src="images/mesa.png")
       div.content--Mesa--Number
        span.titleIdMesa.cssNone
         | h5
        span.titleMesa
         | Mesa 32
      figure.content--Mesa.mesaRectangular
       img(src="images/mesa.png")
       div.content--Mesa--Number
        span.titleIdMesa.cssNone
         | h6
        span.titleMesa
         | Mesa 33
      figure.content--Mesa.mesaRectangular
       img(src="images/mesa.png")
       div.content--Mesa--Number
        span.titleIdMesa.cssNone
         | h7
        span.titleMesa
         | Mesa 34
      figure.content--Mesa.mesaRectangular
       img(src="images/mesa.png")
       div.content--Mesa--Number
        span.titleIdMesa.cssNone
         | h8
        span.titleMesa
         | Mesa 35
      figure.content--Mesa.mesaRectangular
       img(src="images/mesa.png")
       div.content--Mesa--Number
        span.titleIdMesa.cssNone
         | u1
        span.titleMesa
         | Mesa 36
      figure.content--Mesa.mesaLarge
       img(src="images/mesa.png")
       div.content--Mesa--Number
        span.titleIdMesa.cssNone
         | u2
        span.titleMesa
         | Mesa 37
      figure.content--Mesa.mesaLarge
       img(src="images/mesa.png")
       div.content--Mesa--Number
        span.titleIdMesa.cssNone
         | u3
        span.titleMesa
         | Mesa 38
      figure.content--Mesa.mesaLarge
       img(src="images/mesa.png")
       div.content--Mesa--Number
        span.titleIdMesa.cssNone
         | u4
        span.titleMesa
         | Mesa 39
      figure.content--Mesa.mesaLarge
       img(src="images/mesa.png")
       div.content--Mesa--Number
        span.titleIdMesa.cssNone
         | u4
        span.titleMesa
         | Mesa 40

   aside.aside
    form.aside--Form.jsPedidos
     header.aside--Form--Header
      span.titleCode.jsCodigoMesa.cssNone

      h2.title.jsPedidosMesa
       | Mesa 1
     div.jsPreload.cssPreload
      img(src="../images/ring-alt.svg", alt="")
      header.cssPreload--Header
        h2.title
         | Mesa Abierta
     //div.aside--Form--Fieldset
      div.fieldset--Iz
       label.title
        | Personas:
      div.fieldset--De
       input(type="number", name="jsPersonas")
     div.aside--Form--Fieldset
      div.fieldset--Iz
       label.title
        | Pedido:
      div.fieldset--De
       select(name="jsPedido", class="selectPlatosList" required title="Selecione un pedido")
     div.aside--Form--Fieldset
      div.fieldset--Iz
       label.title
        | Mozo:
      div.fieldset--De
       select(name="jsMozo", class="selectSalon")
     div.aside--Form--Fieldset
      input(class="send", type="submit", value="Abrir Mesa")
    form.aside--Form.jsMesasDisponibilidad
     header.aside--Form--Header
      h2.title.jsMesasHabilities
       | Deshabilitar Mesas
     div.aside--Form--Fieldset
      div.fieldset--Iz
       label.title
        | Ocupado:
      div.fieldset--De
       select(name="jsMesasOccupe", class="mesasOccupe")
        option(value="borrarMesa")
         | Selecionar Mesa
     div.aside--Form--Fieldset
      input(class="send sendDelete", type="submit", value="Eliminar Mesa")


