doctype html
html(lang='es')
  head
    meta(charset='UTF-8')
    title #{title}
    link(rel='stylesheet', href='stylesheets/normalize.css')
    link(rel='stylesheet', href='stylesheets/app.css')
    script(src='http://code.jquery.com/jquery-2.1.4.min.js')
    script(src='javascripts/web.js')
  body
   header.header(data-role="role")
    div.header--Cont
     div.header--Cont--Iz
      figure.header--Cont--Figure
       h1.Title
        | LaCatedralDelPisco
     div.header--Cont--Center
      div.Center--Day
       article.article
        div.article--Icon
         i(class="fa fa-sun-o")
        div.article--Data
         span.title.jsTitleHeader
          | ALMUERZO 
         span.title.jsTitleSubHeader
          strong.jsTitleDay
          strong.jsTitleMounth

      div.Center--Time
        h1.time--Title
      div.Center--Clima
     div.headder--Cont--De
      nav.header--Cont--Nav
       ul.ul
        li.list
         a.link(href="panel", title="Panel Activar Mesas")
          i(class="fa fa-cutlery")
        li.list
         a.link(href="mesas", title="Listado de Mesas, Agregar Pedidos")
          i(class="fa fa-shopping-basket")
        li.list
         a.link(href="ventas", title="Resumen de ventas")
          i(class="fa fa-usd")
        li.list
         a.link(href="modulos", title="Modulos de activación")
          i(class="fa fa-cubes")
        li.list
         a.link(href="administracion", title="Configuración, agregar platos y mozos")
          i(class="fa fa-cog")
        li.list
         i(class="fa fa-user")
         | #{username}
  main
    section.contenido
     header.contenido--Header
      h2.title
       | Reporte Ventas
     nav.contenido--Nav
      ul.ul
       li.list
        a.link(href="ventas/totales")
         div.list--Icon
          i(class="fa fa-calendar-check-o")
         div.list--Data
          span.title
           strong(class="titleStrong")
            |Ventas Diarias Totales
            br
          span.title
           |ventas en total: efectivo, tarjeta, descuento
       li.list
        a.link(href="ventas/tarjetas")
         div.list--Icon
          i(class="fa fa-credit-card-alt")
         div.list--Data
          span.title
           strong(class="titleStrong")
            |Ventas Diarias Tarjetas
            br
          span.title
           |compras realizadas con tarjetas
       li.list
        a.link(href="ventas/efectivo")
         div.list--Icon
          i(class="fa fa-money")
         div.list--Data
          span.title
           strong(class="titleStrong")
            |Ventas Diarias Efectivo
            br
          span.title
           |compras realizadas en efectivo
       